.heading {
  color: #00e7ff;
  font-size: 20px;
  font-family: 'Roboto';
}
.cryptoImage {
  height: 90px;
}
.items-div {
  border: #00e7ff 2px solid;
  border-radius: 10px;
  padding: 10px;
}
.for-flex {
  background-color: #092e33;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.paragraph {
  color: #ffffff;
  font-size: 10px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-left: 10px;
}
.paragraph1 {
  color: #ffffff;
  font-size: 10px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-right: 20px;
}

.for-flex1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 767px) {
  .cryptoImage {
    height: 190px;
  }
  .paragraph {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    margin-left: 20px;
  }
  .paragraph1 {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    margin-right: 30px;
  }
  .heading {
    color: #00e7ff;
    font-size: 30px;
    font-family: 'Roboto';
  }
}
